Projet/ww/*.gen
Projet/ww/*.obj
Projet/ww/*.desc
Projet/error.log
Projet/*.tokens
*.sw[po]
*.py[co]
.classpath
.project
Projet/projetLexer.java
Projet/projetParser.java
Projet/libclass/PtGen.class
Projet/libclass/projetParser.class
